* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  display: grid;
  grid-template-areas:
    "nav"
    "content";
}
html{
  scroll-behavior: smooth;
}
.nav {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  grid-area: nav;
  background-color: rgb(169, 46, 56);
  position: fixed;
  box-shadow: 1px 1px;
}
.nav a {
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
}

.nav a:hover {
  background-color: rgb(87, 89, 135);
  color: white;
  cursor: pointer;
}
.content {
  display: flex;
  background-color: rgb(38, 38, 41);
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.content h1 {
  font-size: 50px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.content p {
  color: rgb(169, 59, 69);
  font-size: 30px;
  font-style: italic;
}
.content1 {
  display: flex;

  background-color: rgb(72, 86, 122);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading-project {
  width: 50%;
  border-bottom: 2px solid white;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    margin-top: 3rem;
}

/* Slideshow container */
.work {

  max-width: 100vw;
  position: relative;
  margin: auto;
  margin: 10% 10%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


#one {
  grid-area: box1;
  background-color: rgb(198, 198, 21);
  display: grid;
  
}
#two {
  grid-area: box2;
  background-color: azure;
  display: grid;
 
}

#three {
  grid-area: box3;
  background-color: cornflowerblue;
  display: grid;
 
}
#four {
  grid-area: box4;
  background-color: aqua;
  display: grid;

}
#five {
  grid-area: box5;
  background-color: antiquewhite;
  display: grid;

}
#six {
  grid-area: box6;
  background-color: darkolivegreen;
  display: grid;

}

.mySlides:hover {
  cursor: pointer;
}


.mySlides:hover .sign {
  display: block;
}

#agency{
  color:rgb(165, 58, 42);
  font-weight: 30;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.box-title {
  background-color: rgb(62, 61, 61);
  display: flex;
  flex-direction: row;
  padding: 25px;
  justify-content: center;
  color: white;
  font-size: 18px;
}
.sign {
  display: none;
  color: #ff7f50;

}

.images {

  width: 340px;
  height: 340px;
  object-fit: cover;
}

.content2{
  background-color: rgb(45, 57, 69);
  width: 100vw;
  height: calc(100vh - 7vh);
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  flex-direction: column;
 
  
}
.content2 h1{
  font-size: 3rem;
  margin-top: 5%;
 
  
}

.coffee{
  padding: 1rem;
  font-style: italic;
  font-size: 1.5rem;
}
.links{
  display: flex;
  margin-bottom: 5%;
  justify-content: space-evenly;
  padding: 10%;
  width: 100vw;
  border-bottom: 5px solid red;

}
.links p{

  padding: 1.5rem;
  font-size: 2rem;
}
.icons{
  display: flex;
  justify-content: baseline;
}

.footer{
  display: flex;

}
.footer p{
  padding: 20px;
  font-weight:300;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, 'Times New Roman', serif;
}

/* @media only screen and (min-width: 581px) and (max-width: 790px) {
  .nav {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    grid-area: nav;
    background-color: rgb(169, 46, 56);
    height: 6vh;
    position: fixed;
    box-shadow: 1px 1px;
  }
  .nav a {
    padding: 15px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
  }
  .content h1 {
    font-size: 40px;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .content p {
    color: rgb(169, 59, 69);
    font-size: 25px;
    font-style: italic;
  }

  .content1 {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(72, 86, 122);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .heading-project {
    width: 50%;
    border-bottom: 2px solid white;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
  }

  .work {
    display: grid;
    grid-template-areas:
      "box1 box2"
      " box3 box4 "
      "box5 box6";
    justify-items: center;
    align-items: space-between;
    margin: 10%;
    row-gap: 5%;
  }
} */

/* 
  @media only screen and (max-width: 580px )  {
  
    .nav{
        display: flex;
        justify-content: flex-end;
        width: 100vw;
        grid-area: nav;
        background-color: rgb(169, 46, 56);
        height: 5vh;
        position: fixed;
        box-shadow: 1px 1px;
    
    
    }
    .nav a{
        padding: 10px;
        font-size: 10px;
        text-decoration: none;
        color: white;
        font-family:'Lucida Sans',  Verdana, sans-serif
        
    }
    .content{
        display: flex;
        background-color: rgb(38, 38, 41);
        width: 100vw;
        text-align: center;
        justify-content: center;
        align-items: center;
      
        height: 100vh;
        flex-direction: column;
    
    }
    .content h1{
        font-size: 30px;
        color: white;
        font-family: 'Segoe UI',  Verdana, sans-serif;
       
    }
    .content p{
        color: rgb(169, 59, 69);
        font-size: 20px;
        font-style: italic;
        
    
    }
    .content1{
        display: flex;
        height: 100vh;
        width: 100vw;
        background-color: rgb(72,86, 122);
     
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .heading-project{
        width: 50%;
        border-bottom: 2px solid white;
        color:white;
        display: flex;
        justify-content: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    }
    
    .work{
        display: grid;
        grid-template-areas: 'box1'
                            ' box2'
                            ' box3'
                            ' box4 '
                            'box5'
                            ' box6';
        justify-items: center;
        align-items: space-between;
        margin: 10%;
        row-gap: 5%;
       
       
    }
    

  } */
